
<div layui-fluid>
  <div layui-row>
    <div layui-col-sm="4">&nbsp;</div>
    <div layui-col-sm="4">
      <div style="width: 85%;margin: 0 auto;">
        <layui-card style="margin-top: 120px">
          <layui-card-body>
            <form layui-form >
              <img style="display: block;width: 55%;margin: 0 auto;" src="/assets/images/logo.png" />
              <br/>
              <div>
                <input layui-input name="username" [verify]="'required'" [reqText]="'请输入用户名'" [(ngModel)]="username" placeholder="用户名" autocomplete="off" />
              </div>
              <br/>
              <div>
                <input layui-input type="password" name="password" [verify]="'required'" [reqText]="'请输入密码'" [(ngModel)]="password" placeholder="密码" autocomplete="off" />
              </div>
              <br/>
              <div>
                <button layui-form-submit layui-btn-fluid (submit)="loginButtonClick($event)" theme="normal" type="button" >登录</button>
              </div>
              <br/>
              <h1 style="text-align: center;color: #999;font-size: 18px;">{{name}}</h1>
              <p style="text-align: center;color: #ccc;font-size: 12px;">Copyright ©2019-2020 excelsecu {{version}}</p>
            </form>
          </layui-card-body>
        </layui-card>
      </div>
    </div>
    <div layui-col-sm="4">&nbsp;</div>
  </div>
</div>
