
<h1>layui</h1>

<div layui-container>
  <div layui-row>
    <div layui-col-xs="6" layui-col-sm="6" layui-col-md="4">
      移动：6/12 | 平板：6/12 | 桌面：4/12
    </div>
    <div layui-col-xs="6" layui-col-sm="6" layui-col-md="4">
      移动：6/12 | 平板：6/12 | 桌面：4/12
    </div>
    <div layui-col-xs="4" layui-col-sm="12" layui-col-md="4">
      移动：4/12 | 平板：12/12 | 桌面：4/12
    </div>
    <div layui-col-xs="4" layui-col-sm="7" layui-col-md="8">
      移动：4/12 | 平板：7/12 | 桌面：8/12
    </div>
    <div layui-col-xs="4" layui-col-sm="5" layui-col-md="4">
      移动：4/12 | 平板：5/12 | 桌面：4/12
    </div>
  </div>
</div>

<div layui-fluid>
  <div layui-row>
    <div layui-col-md="12">
      <div layui-hide="xs">show</div>
    </div>
  </div>
</div>

<p>
  <layui-icon style="color:red;font-size: 100px;" type="face-smile" ></layui-icon>
  123
</p>

<div>
  <button (click)="msgButtonClick()">msg</button>
</div>
