
<layui-layout>
  <layui-header>
    <layui-logo>
      <img src="assets/images/logo.png" style="width:70%;display: block;margin-top: 10px;margin-left: 20px;" >
      <div style="width:70%;display: block;line-height: 16px;color: black;padding-top: 5px;padding-left:20px;text-align: left;color: #cccccc;">营销活动管理系统</div>
    </layui-logo>
    <layui-nav layui-layout-right [items]="topNavItems" [autoSelect]="false" (select)="navItemSelected($event)"></layui-nav>
  </layui-header>
  <br/>
  <div class="es-container" layui-fluid>
    <div layui-row layui-col-space="10">
      <div layui-col-xs="2">
        <layui-nav style="width:100%" [type]="'vertical'" [items]="sideNavItems" (select)="navItemSelected($event)"></layui-nav>
      </div>
      <div layui-col-xs="10">
        <div class="es-content" style="padding: 20px;">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div style="height: 60px;"></div>
  <div class="es-footer">
    2019 - 2020 © excelsecu
  </div>
<!--  <layui-side layui-color-bg="black">-->
<!--    -->
<!--  </layui-side>-->
<!--  <layui-body>-->
<!--    -->
<!--  </layui-body>-->
<!--  <layui-footer>-->
<!--    Copyright 2020 EXCELSECU. All Rights Reserved.-->
<!--  </layui-footer>-->
</layui-layout>

<div #changePasswd style="display: none;" >
  <div style="padding: 20px">
    <form layui-form>
      <layui-form-item>
        <layui-form-label>旧密码</layui-form-label>
        <layui-form-input-block>
          <input layui-input [verify]="'required'" name="oldPassword" type="password" placeholder="请输入当前密码">
        </layui-form-input-block>
      </layui-form-item>
      <layui-form-item>
        <layui-form-label>新密码</layui-form-label>
        <layui-form-input-block>
          <input layui-input [verify]="'required'" name="newPassword" type="password" placeholder="请输入新密码" >
        </layui-form-input-block>
      </layui-form-item>
      <layui-form-item>
        <layui-form-label>确认密码</layui-form-label>
        <layui-form-input-block>
          <input layui-input [verify]="'required'" name="rePassword" type="password" placeholder="请再次输入新密码" >
        </layui-form-input-block>
      </layui-form-item>
      <layui-form-item>
        <layui-form-input-block>
          <button layui-btn layui-form-submit (submit)="changePasswordButtonClick($event)" type="button">修改密码</button>
        </layui-form-input-block>
      </layui-form-item>
    </form>
  </div>
</div>
