
<layui-layout>
  <layui-header>
    <layui-logo>营销活动管理系统</layui-logo>
    <layui-nav layui-layout-right [items]="topNavItems" [autoSelect]="false" (select)="navItemSelected($event)"></layui-nav>
  </layui-header>
  <layui-side layui-color-bg="black">
    <layui-nav [type]="'vertical'" [items]="sideNavItems" (select)="navItemSelected($event)"></layui-nav>
  </layui-side>
  <layui-body>
    <div style="padding: 20px">
      <router-outlet></router-outlet>
    </div>
  </layui-body>
  <layui-footer>
    Copyright 2020 EXCELSECU. All Rights Reserved.
  </layui-footer>
</layui-layout>
